<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/hospital's profile</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/common.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/about_hospital.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <ul>
                <li><a>Doctors</a></li>
                <li><a>Hospitals</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Services</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <nav>
            <button class="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button>
            <button class="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <section class="hero">
            <figure>
                <figcaption>
                    <h1>About Apollo Hospital</h1>
                    <p>Home / Hospital Profile</p>
                </figcaption>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="hero_image">
            </figure>
        </section>
        <section class="apolloHospital">
            <figure>
                <img src="../assets/images/hospital1.jpg" alt="doctor_image">
            </figure>
            <button>Call</button>
            <div class="intro">
                <h2>Apollo Hospital</h2>
                <div>
                    <i class="fas fa-map-marker"></i><span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                    <i class="fas fa-bed"></i><span>112 Beds</span>
                </div>
                <p>Apollo Hospital has emerged as Asia's foremost intergrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmancy, Primary Care & Diagnostic Clinics and several retail health
                    nodels. The group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning. Colleges of Nursing and Hospital Management and a Reasearch
                    Foundation. In addition, 'ASK Apollo' - an online consultation portal and Apollo Home Health provide the care continuum.</p>
            </div>
            <div class="icons"><i class="fas fa-award"></i><span>Specialization</span><i class="fa fa-angle-up" id="rightIcon"></i></div>
            <p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui, ipsum delectus deleniti sestinctio, alias, earum officiis acccusamus consectetur eius.</p>
            <div class="icons"><i class="fa fa-stethoscope"></i><span>Famous Treatments</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-user-md"></i><span>Famous Doctors</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-hospital-o"></i><span>Infrastructure</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-map-marker"></i><span>Complete Address</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-h-square"></i><span>Hospital Packages</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-inr"></i><span>Hospital Charges</span><i class="fa fa-angle-down" id="rightIcon"></i></div>
            <div class="icons"><i class="fa fa-address-card"></i><span>Membership</span><i class="fa fa-angle-down" id="rightIcon"></i></div>

        </section>
        <section class="enquiry">
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you.</p>
            <button>Submit your enquiry</button>
        </section>
    </main>
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png
        " alt="tvastra_logo">
        </figure>
        <nav class="sectionNav">
            <ul>
                <li><a>Doctor</a></li>
                <li><a>Hospital</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Service</a></li>
                <li><a>FAQs</a></li>
            </ul>
        </nav>
        <nav class=socialMedia>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-pinterest"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </nav>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>