<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/appointment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <a>Doctors</a>
            <a>Hospitals</a>
            <a>Treatment</a>
            <a>Other Services</a>
            <a>About</a>
        </nav>
        <nav>
            <button id="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button>
            <button id="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <h1>Book an appointment</h1>
        <form action="/signin" method="post" id="signin">
            <h2>Book An Appointment*</h2>
            <input type="text" id="date" placeholder="DD/MM/YYYY">

            <h2>Time Interval*</h2>
            <section class="radiofield">
                <input type="radio" id="Morning" name="interval" value="Morning">
                <label for="Morning">Morning</label>
                <input type="radio" id="afternoon" name="interval" value="afternoon">
                <label for="afternoon">Afternoon</label>
                <input type="radio" id="evening" name="interval" value="evening">
                <label for="evening">Evening</label>
            </section>

            <h2>appointment Status/Urgency</h2>
            <section class="radiofield">
                <input type="radio" id="Routine" name="checkup" value="Routine-checkup">
                <label for="Routine">Routine Check-up</label>
                <input type="radio" id="Non-Urgent" name="checkup" value="Non-Urgent-checkup">
                <label for="Non-Urgent">Non-Urgent Check-up</label>
                <input type="radio" id="Urgent" name="checkup" value="Urgent">
                <label for="Urgent">Urgent Check-up</label>
                <input type="radio" id="surgical" name="checkup" value="surgical">
                <label for="surgical">Surgical Appointment</label>
            </section>

            <h2>Upload Previous Health Record</h2>
            <input type="file" id="healthfile" value="healthfile">

            <h2>appointment detail</h2>
            <textarea rows="10"></textarea>

            <button type="submit" id="bookBtn">Book Appointment</button>
        </form>

    </main>
    <footer>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>