<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/appointment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <ul>
                <li><a>Doctors</a></li>
                <li><a>Hospitals</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Services</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <nav>
            <button class="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button>
            <button class="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <h1>Book an appointment</h1>
        <form action="/signin" method="post" id="signin">
            <h3>Book An Appointment*</h3>
            <input type="text" id="date" placeholder="DD/MM/YYYY">

            <h3>Time Interval*</h3>
            <section class="radiofield">
                <label for="Morning">
                    <input type="radio" id="Morning" name="interval" value="Morning"> Morning
                </label>
                <label for="afternoon"> 
                    <input type="radio" id="afternoon" name="interval" value="afternoon"> Afternoon
                </label>
                <label for="evening">
                    <input type="radio" id="evening" name="interval" value="evening"> Evening
                </label>
            </section>

            <h3>appointment Status/Urgency*</h3>
            <section class="radiofield">
                <label for="Routine">
                    <input type="radio" id="Routine" name="checkup" value="Routine-checkup"> Routine Check-up
                </label>
                <label for="Non-Urgent">
                    <input type="radio" id="Non-Urgent" name="checkup" value="Non-Urgent-checkup"> Non-Urgent Check-up
                </label>
                <label for="Urgent">
                    <input type="radio" id="Urgent" name="checkup" value="Urgent"> Urgent Check-up
                </label>
                <label for="surgical">
                    <input type="radio" id="surgical" name="checkup" value="surgical"> Surgical Appointment
                </label>
            </section>

            <h3>Upload Previous Health Record</h3>
            <input type="file" id="healthfile" value="healthfile">

            <h3>appointment detail</h3>
            <textarea rows="10"></textarea>

            <button type="submit" id="bookBtn">Book Appointment</button>
        </form>

    </main>
    <footer>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>