<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/Dentistry</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/dentistry.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <header>
        <figure>
            <img class="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav id="headNav">
            <a>Doctors</a>
            <a>Hospitals</a>
            <a>Treatment</a>
            <a>Other Services</a>
            <a>About</a>
        </nav>
        <nav id="headBtn">
            <button id="loginBtn">Login / Sign Up</button>
            <button id="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <section id="doctorsImg">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg
                " alt="doctor_image">
                <figcaption>
                    <h1>Dentistry</h1>
                    <p>Home / Dentistry</p>
                </figcaption>
            </figure>
        </section>
        <section id="vaccination">
            <h1>Vaccination</h1>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="dentistry">
                <figcaption>
                    <h2>About Dentist Department</h2>
                    <p>The vaccination of dentist against various vaccine-preventable infection it is more important measure of primary prevension against such diseases which would otherwise prove fatal for both the dentist and their patient.</p>
                    <ul>
                        <li>CF-related diabetes (monthly)</li>
                        <li>Gastrointestinal (monthly)</li>
                        <li>CF-related liver disease</li>
                        <li>Sweat testing (three time per month)</li>
                    </ul>
                </figcaption>
            </figure>
            <section id="vaccinationType">
                <section>
                    <i class="fas fa-stethoscope"></i>
                    <h3>Central Serveous System</h3>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
                </section>
                <section>
                    <i class="fas fa-disease"></i>
                    <h3>Allergic Disorder</h3>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
                </section>
                <section>
                    <i class="fas fa-heartbeat"></i>
                    <h3>Neoplastic Disorder</h3>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
                </section>
            </section>
            <section class="details">
                <section class="diseaseDetail" id="detail1">
                    <h3>Service Details</h3>
                    <p>Price</p>
                    <p class="pRight">$340</p>
                    <p>Duration</p>
                    <p class="pRight">10 minutes</p>
                    <p>Office</p>
                    <p class="pRight">#46</p>
                    <p>Doctor</p>
                    <p class="pRight">Dr. Eligabeth Beared</p>
                    <p>Catogaries</p>
                    <p class="pRight">Family Medicine</p>
                </section>
                <section class="diseaseDetail" id="detail2">
                    <h3>Schedule</h3>
                    <p>Tuesday</p>
                    <p class="pRight">10:00am - 01:00pm</p>
                    <p>Friday</p>
                    <p class="pRight">07:00am - 10:00pm</p>
                </section>
            </section>
        </section>
        <section id="services">
            <h1>More Services</h1>
            <h2></h2>
            <p><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-right"></i></p>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="treatments">
                <figcaption>
                    <h2>Orthopadics Surgery</h2>
                </figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="treatments">
                <figcaption>
                    <h2>Cancer</h2>
                </figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="treatments">
                <figcaption>
                    <h2>Cardiology</h2>
                </figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png
        " alt="tvastra_logo">
        </figure>
        <nav id="sectionNav">
            <a>Doctor</a>
            <a>Hospital</a>
            <a>Treatment</a>
            <a>Other Service</a>
            <a>FAQs</a>
        </nav>
        <nav id=socialMedia>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-instagram"></i>
        </nav>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>