<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/common.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/index.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <ul>
                <li><a>Doctors</a></li>
                <li><a>Hospitals</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Services</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <nav>
            <button class="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button>
            <button class="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <section class="discription">
            <h1>Find Affordable Healthcare</h1>
            <p>Join thousands of others who have exercise their rights to quality healthcare at a price you can afford</p>
            <div>
                <i class="fa fa-crosshairs"></i>
                <input type="text" class="searchCity" placeholder="Search for city">
                <input type="text" class="searchDoctor" placeholder="Search for doctor, hospitals and treatments">
                <button class="searchBtn">Search</button>
            </div>
        </section>
        <section class="protocols">
            <h1>How it works</h1>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.</p>
            <section>
                <button id="Btn01"><i>01</i> Fix consultation</button>
                <section>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="fix_consultation">
                    </figure>
                    <h2>Fix consultation</h2>
                    <p>This dipicts that user will have to fix appointment first when it selects a particular doctor</p>
                </section>
                <button><i>02</i> Upload medical report</button>
                <button><i>03</i> Consult with doctor</button>
                <button><i>04</i> Fix surgury</button>
                <button><i>05</i> Hospital sent estimates</button>
                <button><i>06</i> Payments</button>
                <button><i>07</i> Surgery completed</button>
            </section>
            <aside>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="fix_consultation">
                </figure>
                <h2>Fix consultation</h2>
                <p>This dipicts that user will have to fix appointment first when it selects a particular doctor</p>
            </aside>
        </section>
        <section class="doctors">
            <h1>World class expert doctors!</h1>
            <p>The university of Texas Southastern has been a long works renowned research hospital. But untill the 80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southastern is also a mecca for patients.</p>
            <div>
                <figure>
                    <img src="../assets/images/doctor1(1).jpg" alt="doctor">
                    <figcaption>
                        <h2>Duke Sanson</h2>
                        <ul>
                            <li>Neuro Sergeon</li>
                            <li>Department of Neurological Surgery</li>
                            <li>Australia</li>
                        </ul>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../assets/images/doctor2(1).jpg" alt="doctor">
                    <figcaption>
                        <h2>Georgea Peter</h2>
                        <ul>
                            <li>Breast Cancer Surgeon</li>
                            <li>Director, UT. Southwest</li>
                            <li>London</li>
                        </ul>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../assets/images/doctor3(1).jpg" alt="doctor">
                    <figcaption>
                        <h2>Charlie Moon</h2>
                        <ul>
                            <li>Cardiac surgeon</li>
                            <li>M.B.B.S., M.D., F.R.C.P., M.R.C.P., Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../assets/images/doctor4(1).jpg" alt="doctor">
                    <figcaption>
                        <h2>Rose Moon</h2>
                        <ul>
                            <li>Plastic surgeon</li>
                            <li>Deparment of Plastic and Reconstructive Sergery</li>
                            <li>Dubai</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section class="feature">
            <h1>Feature Medical Treatments</h1>
            <p>Join thousands of others who have exercise their rights to quality healthcare at a price you can afford</p>
            <div>
                <figure id="fig01">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="treatments">
                    <figcaption>
                        <h4>Dentistry</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
                <figure id="fig02">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="treatments">
                    <figcaption>
                        <h4>Cancer</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
                <figure id="fig03">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="treatments">
                    <figcaption>
                        <h4>Cardiology Treatments</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
                <figure id="fig04">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="treatments">
                    <figcaption>
                        <h4>Multiorgan Transplant</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
                <figure id="fig05">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="treatments">
                    <figcaption>
                        <h4>Orthopadics Surgery</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
                <figure id="fig06">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="treatments">
                    <figcaption>
                        <h4>Infertility Treatment</h4>
                        <i>50+ Specialists</i>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section class="service">
            <h1>Exclucive Services</h1>
            <p>We want to be cofortable and apart from threating you illness, we provide you with some other services that you can see.</p>
            <div class=serviceLink>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png
                    " alt="service">
                    <figcaption>TRAVEL</figcaption>
                </figure>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png
                    " alt="service">
                    <figcaption>FOOD</figcaption>
                </figure>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png
                    " alt="service">
                    <figcaption>ACOMODATION</figcaption>
                </figure>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png
                    " alt="service">
                    <figcaption>LABS</figcaption>
                </figure>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png
                    " alt="service">
                    <figcaption>REPORTS</figcaption>
                </figure>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png
                    " alt="service">
                    <figcaption>AMBULANCE</figcaption>
                </figure>
            </div>
        </section>
        <section class="enquiry">
            <h1>Need Help?</h1>
            <p>Just let us know, we will happy to assist you.</p>
            <button id="qrBtn">Submit your enquiry</button>
        </section>
    </main>
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png
        " alt="tvastra_logo">
        </figure>
        <nav class="sectionNav">
            <ul>
                <li><a>Doctor</a></li>
                <li><a>Hospital</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Service</a></li>
                <li><a>FAQs</a></li>
            </ul>
        </nav>
        <nav class=socialMedia>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-pinterest"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </nav>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>