<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="left"><img class="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo"></nav>
        <nav id="headNav">
            <a>Doctors</a>
            <a>Hospitals</a>
            <a>Treatment</a>
            <a>Other Services</a>
            <a>About</a>
        </nav>
        <nav id="headBtn">
            <button id="loginBtn">Login / Sign Up</button>
            <button id="quoteBtn">Get a Quotes</button>
        </nav>
        <nav class="right"><i class="fa fa-bars"></i></nav>
    </header>
    <main>
        <section class="discription">
            <h1>Find Affordable Healthcare</h1>
            <p>Join thousands of others who have exercise their rights to quality <br> healthcare at a price you can afford</p>
            <div class="search">
                <input type="text" id="searchCity" placeholder="Search for city">
                <span class="fa fa-map-marker"></span>
                <span class="fa fa-crosshairs"></span>
                <input type="text" id="searchDoc" placeholder="Search for doctor, hospitals and treatments">
                <button id="disBtn">Search</button>
            </div>
        </section>
        <section class="protocols">
            <h1>How it works</h1>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.</p>
            <div class="protContainer">
                <div id="btnContainer">
                    <button id="protocol" style="opacity: 0.5;">
                <h2 id="num">01</h2>
                <h2>Fix consultation</h2>
            </button>
                    <div id="treatImg">
                        <img id="treatImg1" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png
                " alt="fix_consultation">
                        <h2 id="protHeader">Fix consultation</h2>
                        <p>This dipicts that user will have to fix appointment first when it selects a particular doctor</p>
                    </div>
                    <button id="protocol">
                <h2 id="num">02</h2>
                <h2>Upload medical report</h2>
            </button>
                    <button id="protocol">
                <h2 id="num">03</h2>
                <h2>Consult with doctor</h2>
            </button>
                    <button id="protocol">
                <h2 id="num">04</h2>
                <h2>Fix surgury</h2>
            </button>
                    <button id="protocol">
                <h2 id="num">05</h2>
                <h2>Hospital sent estimates</h2>
            </button>
                    <button id="protocol">
                <h2 id="num">06</h2>
                <h2>Payments</h2>
            </button>
                    <button id="protocol">
                <h2 id="num">07</h2>
                <h2>Surgury completed</h2>
            </button>
                </div>
                <div id="treatImgs">
                    <img id="treatImg1" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png
                    " alt="fix_consultation">
                    <h2 id="protHeader">Fix consultation</h2>
                    <p>This dipicts that user will have to fix appointment first when it selects a particular doctor</p>
                </div>
            </div>
        </section>
        <section class="doctors">
            <h1>World class expert doctors!</h1>
            <p>The university of Texas Southastern has been a long works renowned research hospital. But untill the 80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southastern is also a mecca for patients.</p>
            <div id="docDetail">
                <div id="docInfo1" class="docInfo">
                    <img id="docImg" src="../assets/images/doctor1(1).jpg" alt="">
                    <div id="docQual">
                        <hr>
                        <h2 id="num">Duke Sanson</h2>
                        <p>Neuro Sergeon <br> Department of Neurological Surgery <br> Australia
                        </p>
                    </div>
                </div>
                <div id="docInfo2" class="docInfo">
                    <img id="docImg" src="../assets/images/doctor2(1).jpg" alt="">
                    <div id="docQual">
                        <hr>
                        <h2 id="num">Georgea Peter</h2>
                        <p>Breast Cancer Surgeon <br> Director. UT. Southwest <br> London
                        </p>
                    </div>
                </div>
                <div id="docInfo3" class="docInfo">
                    <img id="docImg" src="../assets/images/doctor3(1).jpg
                " alt="">
                    <div id="docQual">
                        <hr>
                        <h2 id="num">Charlie Moon</h2>
                        <p>Cardiac surgeon <br> MBBS. MD. FRCP. MRCP. Fellowship <br> New India, India</p>
                    </div>
                </div>
                <div id="docInfo4" class="docInfo">
                    <img id="docImg" src="../assets/images/doctor4(1).jpg
                " alt="">
                    <div id="docQual">
                        <hr>
                        <h2 id="num">Rose Moon</h2>
                        <p>Plastic surgeon <br> Deparment of Plastic and <br> Reconstructive Sergery <br> Dubai
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
            <h1>Feature Medical Treatments</h1>
            <p>Join thousands of others who have exercise their rights to quality healthcare at a price you can afford</p>
            <div class="featContainer">
                <div id="container1" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg
                " alt=""> -->
                    <p>Dentistry</p>
                    <h4>50+ Specialists</h4>
                </div>
                <div id="container2" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg
                " alt=""> -->
                    <p>Cancer</p>
                    <h4>50+ Specialists</h4>
                </div>
                <div id="container3" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg
                " alt=""> -->
                    <p>Cardiological Treatment</p>
                    <h4>50+ Specialists</h4>
                </div>
                <div id="container4" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg
                " alt=""> -->
                    <p>Multiorgan Transplant</p>
                    <h4>50+ Specialists</h4>
                </div>
                <div id="container5" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg
                " alt=""> -->
                    <p>Orthopadics Surgery</p>
                    <h4>50+ Specialists</h4>
                </div>
                <div id="container6" class="container">
                    <!-- <img id="featImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg
                " alt=""> -->
                    <p>Infertility Treatment</p>
                    <h4>50+ Specialists</h4>
                </div>
            </div>
        </section>
        <section class="service">
            <h1>Exclucive Services</h1>
            <p>We want to be cofortable and apart from threating you illness, we provide you with some other services that you can see.</p>
            <div id="servContainer">
                <div class="left1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png
                    " alt="">
                    <h3>TRAVEL</h3>
                </div>
                <div class="right1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png
                    " alt="">
                    <h3>FOOD</h3>
                </div>
                <div class="left2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png
                    " alt="">
                    <h3>ACOMODATION</h3>
                </div>
                <div class="right2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png
                    " alt="">
                    <h3>LABS</h3>
                </div>
                <div class="left3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png
                    " alt="">
                    <h3>REPORTS</h3>
                </div>
                <div class="right3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png
                    " alt="">
                    <h3>AMBULANCE</h3>
                </div>
            </div>
        </section>
        <section class="enquiry">
            <div id="enqBody">
                <h1>Need Help?</h1>
                <p>Just let us know, we will happy to assist you.</p>
            </div>
            <div id="enqBtn">
                <button id="qrBtn">Submit your enquiry</button>
            </div>
        </section>
    </main>
    <footer>
        <img id="footerLogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png
        " alt="">
        <div id="footNav">
            <p>Doctor</p>
            <p>Hospital</p>
            <p>Treatment</p>
            <p id="footP">Other Service</p>
            <p>FAQs</p>
        </div>
        <p id="socialMedia">
            <a class="fa fa-facebook"></a>
            <a class="fa fa-pinterest"></a>
            <a class="fa fa-twitter"></a>
            <a class="fa fa-google-plus"></a>
            <a class="fa fa-instagram"></a>
        </p>
        <p id="rights">All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>