<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SignIn Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../assets/scripts/signin.js"></script>
</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <ul>
                <li><a>Doctors</a></li>
                <li><a>Hospitals</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Services</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <nav>
            <!-- <button class="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button> -->
            <button class="quoteBtn" onclick="window.location.href='submit_your_query.html';">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <section class="alert">
        <% if(!isValid){ %>
            <div class="alertMsg" id="alertMsgs">
                <i class="fas fa-times-circle"></i>
                <div>
                    <h6>Failure</h6>
                    <p>Incorrect password or email</p>
                </div>
                <i onclick="alertDiv()" id="exit" class="fas fa-times"></i>
            </div>
            <%}%>
    </section>
    <main>
        <h1>Login</h1>
        <form method="post" class="signin">
            <input type="email" name="email" id="email" placeholder="Enter your username" required>
            <input type="password" name="password" id="password" placeholder="Enter your password">
            <div>
                <a href="./signin_otp">Login with OTP</a>
                <button type="submit" formaction="/forgotPass/:123456">Forgot Password</button>
            </div>
            <button type="submit" class="signinBtn" formaction="/signin">LOGIN</button>
        </form>
        <p>NotResistered?<a href="./signup">SignUp</a></p>

    </main>
    <footer>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>