section[class=doctorsImg] {
    padding: 0;
}

section[class=doctorsImg] figure {
    height: 15rem;
    position: relative;
    margin: 0;
}

section[class=doctorsImg] figcaption {
    position: absolute;
    top: 35%;
    width: 100%;
    color: var(--white);
}

section[class=doctorsImg] figcaption h1,
section[class=doctorsImg] figcaption p {
    color: var(--white);
}

section[class=map] {
    padding: 1rem;
}

section[class=detailquery] {
    padding: 0;
}

div[class=contactDetail] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

div[class=contactDetail] div {
    padding: 0.2rem 0;
    display: grid;
    grid-template-areas: 'i div';
    justify-content: start;
    grid-column-gap: 1rem;
}

div[class=contactDetail] i {
    color: var(--deepblue);
    font-size: 2rem;
    margin: auto;
}

div[class=contactDetail] div div {
    display: flex;
    flex-direction: column;
}

div[class=contactDetail] div h4 {
    line-height: 1.5rem;
}

div[class=contactDetail] div h4,
div[class=contactDetail] div p {
    text-align: left;
    margin-bottom: 0;
}

div[class=sendQuery] {
    background-color: var(--lightblue);
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

div[class=sendQuery] div {
    padding: 0;
    display: flex;
    flex-direction: column;
}

div[class=sendQuery] div input {
    margin-top: 0;
}

div[class=sendQuery] textarea {
    padding: 1rem 0.5rem 0rem 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    border: none;
}

div[class=sendQuery] button {
    background-color: var(--deepblue);
    color: var(--white);
    display: block;
    margin-right: 0%;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    section[class=map],
    div[class=contactDetail],
    div[class=sendQuery] {
        padding: 1rem 2rem;
    }
    div[class=contactDetail] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div[class=sendQuery] {
        display: grid;
        grid-template-areas: 'section textarea' 'button button';
    }
    div[class=sendQuery] button {
        grid-area: button;
    }
    div[class=sendQuery] textarea {
        width: 97%;
        margin-left: 3%;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    section[class=doctorsImg] figcaption h1,
    section[class=doctorsImg] figcaption p {
        text-align: left;
        margin-left: 4rem;
    }
    section[class=map] {
        padding: 1rem 5rem;
    }
    div[class=contactDetail] {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0;
    }
    section[class=detailquery] {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 5rem 1rem 5rem;
        grid-template-areas: 'section section';
        border-bottom: 0.1rem solid var(--silver);
    }
}