main {
  background-color: var(--silver);
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

section[class=dashboardNav] {
  padding: 1rem;
  width: 16rem;
}

section[class=dashboardNav] form {
  padding: 0;
}

section[class=dashboardNav] button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--silver);
  width: 100%;
}

section[class=dashboardNav] button i {
  color: var(--deepblue);
}

section[class=dashboardNav] button h5 {
  padding-left: 0.5rem;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Nexa-light';
}

section[class=dashboardNav] button:hover {
  background-color: var(--white);
  border-left: 0.1rem solid var(--deepblue);
}

section[class=dashboardNav] button:hover h5 {
  color: var(--deepblue);
  font-family: 'Nexa-bold';
}

section[class=showRecord] {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
}

section[class=showRecord] div[class=reportHead] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1rem solid var(--silver);
  margin-bottom: 1rem;
}

section[class=showRecord] div[class=reportHead] button {
  background-color: var(--deepblue);
  border-radius: 0.5rem;
}

section[class=showRecord] div[class=records] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

section[class=showRecord] div[class=records] figure {
  position: relative;
}

section[class=showRecord] div[class=records] figure figcaption {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0.3rem;
  width: 100%;
}

section[class=showRecord] div[class=records] figure figcaption div {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section[class=showRecord] div[class=records] figure figcaption div h6 {
  color: var(--deepblue);
  margin-bottom: 0;
  text-align: left;
}

section[class=showRecord] div[class=records] figure figcaption div p {
  margin-bottom: 0;
}

section[class=showRecord] div[class=records] figure figcaption button[class=deleteBtn] {
  padding: 0.3rem 0 0.1rem 0;
  margin: 0 0 auto auto;
  height: 1.6rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--white);
}

section[class=showRecord] div[class=records] figure figcaption button[class=deleteBtn] i {
  margin: 0;
  font-size: 0.9rem;
}

section[class=showRecord] div[class=records] figure figcaption form {
  display: none;
  position: relative;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 0;
  margin-left: auto;
  margin-right: 0;
}

section[class=showRecord] div[class=records] figure figcaption form button {
  padding: 0.1rem 0.3rem;
  background-color: var(--white);
  color: var(--deepblue);
  font-family: 'Nexa-bold';
  border-radius: 50%;
}

section[class=showRecord] div[class=records] figure figcaption form button i {
  margin: 0;
  line-height: 0;
  font-size: 0.8rem;
}

section[class=showRecord] div[class=addrecordform] {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 50%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0.2rem 1rem 0 var(--shadowblack);
          box-shadow: 0 0.2rem 1rem 0 var(--shadowblack);
}

section[class=showRecord] div[class=addrecordform] div[class=addpic] {
  background-color: var(--black);
  width: 6rem;
  height: 5rem;
}

section[class=showRecord] div[class=addrecordform] div[class=addpic] input[type=file] {
  opacity: 0;
}

section[class=showRecord] div[class=addrecordform] div[class=addpic] label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section[class=showRecord] div[class=addrecordform] div[class=addpic] label i,
section[class=showRecord] div[class=addrecordform] div[class=addpic] label span {
  color: var(--white);
  margin: auto;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}

section[class=showRecord] div[class=addrecordform] div[class=buttons] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1rem;
}

section[class=showRecord] div[class=addrecordform] div[class=buttons] button[id=cancel] {
  background-color: var(--red);
}

section[class=showRecord] div[class=addrecordform] div[class=buttons] button[id=done] {
  background-color: var(--deepblue);
}
/*# sourceMappingURL=report.css.map */