main {
    background-color: var(--lightsilver);
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

section[class=dashboardNav] {
    padding: 1rem;
    width: 16rem;
    form {
        padding: 0;
    }
    button {
        display: flex;
        flex-direction: row;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        background-color: var(--lightsilver);
        width: 100%;
        i {
            color: var(--deepblue);
        }
        h5 {
            padding-left: 0.5rem;
            margin-bottom: 0;
            text-align: left;
            font-family: 'Nexa-light';
        }
        &:hover {
            background-color: var(--white);
            border-left: 0.1rem solid var(--deepblue);
            h5 {
                color: var(--deepblue);
                font-family: 'Nexa-bold';
            }
        }
        h5[id=navBtn5h5] {
            color: var(--deepblue);
            font-family: 'Nexa-bold';
        }
    }
}

section[class=setting] {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    div[class=pass] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.05rem solid var(--silver);
        button {
            background-color: var(--deepblue);
            border-radius: 0.5rem;
        }
    }
    div[class=labelInput] {
        display: flex;
        flex-direction: column;
        label {
            font-family: 'Nexa-bold';
            margin-bottom: 0;
        }
    }
    div[class=passOld] {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 0.05rem solid var(--silver);
    }
    div[class=passNew] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 0.05rem solid var(--silver);
    }
}