body {
    background-color: var(--lightblue);
}

main {
    background-color: var(--white);
    margin: auto;
    padding: 1rem 0;
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.2rem 1rem 0 var(--shadowblack);
}

h1 {
    color: var(--lightblue);
    margin: 1rem 0;
}

input[id=email] {
    background-image: url(../images/questionmark.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position-x: 95%;
}

form button[class=signinBtn] {
    background-color: var(--black);
    color: var(--white);
    margin: 0.5rem 0;
    background-image: url(../images/arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position-x: 95%;
}

form {
    display: flex;
    flex-direction: column;
    border-top: 0.1rem solid var(--silver);
    padding: 1rem;
}

p a {
    color: var(--deepblue);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    padding: 0;
}

footer p {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    main {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        width: 45%;
    }
}