body {
    background-color: var(--lightblue);
}

main {
    display: block;
    margin: auto;
    padding: 1rem 0;
    margin-top: 2rem;
    width: 90%;
    background-color: var(--white);
    box-shadow: 0 0.2rem 1rem 0 var(--shadowblack);
}

h1 {
    color: var(--lightblue);
    margin: 1.5rem 0;
}

input[id=email] {
    background-image: url(../images/questionmark.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position-x: 95%;
}

button[id=signupBtn] {
    margin: 0.5rem 0;
    background-image: url(../images/arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position-x: 95%;
}

select {
    padding: 1rem;
    border: 0.1rem solid var(--silver);
    background: none;
    margin: 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    border-top: 0.1rem solid var(--silver);
    padding-top: 1rem;
}

form div {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div input {
    width: 5%;
}

p a {
    color: var(--deepblue);
}

footer {
    width: 100%;
    border: none;
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

@media only screen and (min-width: 768px) {
    main {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        width: 50%;
    }
}